

<%- include('partials/dashboards-header') -%>

<div class="container card-container">
  
</div>


<div class="container">        
<div class="jumbotron">
    <div class="card-header d-flex flex-column align-items-center">         

          <div class="col-6 mt-5">
            <h2>Add Customers Number</h2>

            <div class="p-3 mb-2 bg-transparent text-dark">
              <form action="/post/getCustomer" method="POST">
                
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="searchInput" id="searchInput" placeholder="example: 5195556666"> 
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
        
              </form>    
            </div>

            <!-- <form action="/post/createCustomer" enctype="multipart/form-data" method="POST">
              <div class="mb-3"> -->

                <!-- <div class="form-group">
                  <label for="customerName">Customers name</label>
                  <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Enter customers name here">
                </div> -->

                <!-- <div class="form-group">
                  <label for="customerPhone">Customers phone</label>
                  <input type="text" class="form-control" id="customerPhone" name="customerPhone" placeholder="Enter customers phone # here">
                </div> -->

                <!-- <div class="form-group">
                  <label for="customerEmail">Customers email</label>
                  <input type="text" class="form-control" id="customerEmail" name="customerEmail" placeholder="Enter customers email here">
                </div> -->

                <!-- <div class="form-group">
                  <label for="itemType">Item type</label>
                  <select class="form-control" id="itemType" name="itemType">
                      <option value="Shoes" selected>Shoes</option>
                      <option value="Boots">Boots</option>
                      <option value="Sneakers">Sneakers</option>
                      <option value="Other">Other</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="brand">Item brand</label>
                  <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter item brand here">
                </div>
                
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Issue Description...">
                </div>

                <div class="form-group">
                  <label for="severity">Severity</label>
                  <select class="form-control" id="severity" name="severity">
                      <option value="Low">Low</option>
                      <option value="Medium">Medium</option>
                      <option value="High" selected>High</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="cost">Cost</label>
                  <input type="text" class="form-control" id="cost" name="cost" placeholder="Enter cost here">
                </div>

                <div class="form-group">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" accept="image/*;capture=camera" class="form-control" id="imageUpload" name="file" accept="image/*;capture=camera" >
                </div> -->


                  <!-- <label for="title" class="form-label">Brand</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>

              <div class="mb-3">
                <select id="secondTitle" name="secondTitle">
                    <option value="shoes" selected>Shoes</option>
                    <option value="boots">Boots</option>
                    <option value="sneakers">Sneakers</option>
                    <option value="bag">Bag</option>
                    <option value="other">other</option>
                </select>
                <label for="secondTitle">Select the type of item</label>
            </div>

              <div class="mb-3">
                <select id="status" name="status">
                    <option value="open" selected>Open</option>
                    <option value="working">Working</option>
                    <option value="completed">Completed</option>
                </select>
                <label for="status">Select the status of WO</label>
            </div>

            <div class="mb-3">
              <label for="name" class="form-label">Customer Name</label>
              <input type="text" class="form-control" id="name" name="name">
          </div>


              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone" name="phone">
            </div>

            
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email">
          </div>


              <div class="mb-3">
                <label for="caption" class="form-label">Enter WO details</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" accept="image/*;capture=camera" class="form-control" id="imageUpload" name="file" accept="image/*;capture=camera" >
              </div>

              <div class="mb-3">
                <label for="cost" class="form-label">Enter Total Repair Cost</label>
                <input type="text" class="form-control" id="cost" name="cost">
            </div> -->

              <!-- <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form> -->
          </div>

          </div>
        </div>